
@font-face {
    font-family: "Epilogue";
    src: url("fonts/Epilogue-Regular.ttf") format("truetype");
} 

* {
    display: grid;
    font-family: Epilogue, Verdana, Geneva, Tahoma, sans-serif;
    color: #a382f2;
}

/* ALL VERSIONS */

button {
    background-color: rgba(255,255,255, 0);
}

head {
    font-size: 0;
}

#back {
    display: grid;
}

#vid1,
#cover,
#pfp,
#main {
    grid-row: 1;
    grid-column: 1;
}

#vid1 {
    object-fit: fill;
}

#cover {
    width:100%;
    height:100%;
}

/* MOBILE SCREENS */
@media screen and (max-width: 600px) {

}

/* OTHER SCREENS */
@media screen and (min-width: 601px) {

}

#pfp {
    width:13%;
    height:18%;
}

#pfpcontent {
    width: 100%;
    height:100%;
}

#namebar {
    grid-row: 1;
    grid-column: 1;
    justify-content: left;
    align-items:self-start;
    height:20%;
    width: 85%;
    margin-left: 15%;
}

a {
    width: 100%;
    height: 100%;
}

h1 {
    grid-row: 1;
    font-size: 6rem;
    padding: 0%;
    margin: 0%;
}

#main {
    display: grid;
}

.btn,
.btnimg {
    grid-row: 1;
    grid-column: 1;
}

.btn{
    width:18%;
    height:8%;
}

.btnimg{
    width:100%;
    height:100%;
}

#btn1 {
    margin-top: 15%;
    margin-left: 13%;
}

#btn2 {
    margin-top: 22%;
    margin-left: 23%;
}

#btn3 {
    margin-top: 29%;
    margin-left: 33%;
}

#btn4 {
    margin-top: 36%;
    margin-left: 43%;
}

#btn5 {
    margin-top: 43%;
    margin-left: 53%;
}

#btn6 {
    margin-top: 50%;
    margin-left: 63%;
}

.btnimg {
    width: 100%;
    height: 100%;
}