
@font-face {
    font-family: "Epilogue";
    src: url("fonts/Epilogue-Regular.ttf") format("truetype");
} 

* {
    display: grid;
    font-family: Epilogue, Verdana, Geneva, Tahoma, sans-serif;
    color: #8a2b83;
}

#titlep {
    color: #381682;
}

#shadowislandtxt {
    color: #c974c3;
    font-size: large;
    font-weight: bold;
}

#shadowislandtxtp {
    color: #9c7ce1;
    font-size: large;
    font-weight: bold;
}

/* ALL VERSIONS */

p {
    width: 40%;
    height: 10vh;
    padding-left: 60%;
    padding-top: 30%;
}

button {
    background-color: rgba(255,255,255, 0);
}

head {
    font-size: 0;
}

#back {
    display: grid;
}

#vid1,
#cover,
#pfp,
#main,
p {
    grid-row: 1;
    grid-column: 1;
}

#title,
#projicon {
    grid-row: 1;
}

#projicon {
    grid-column: 2;
    height: 40%;
}

#vid1 {
    object-fit: fill;
    height: 100vh;
}

#cover {
    width:100%;
    height:100vh;
}

/* MOBILE SCREENS */
@media screen and (max-width: 600px) {

}

/* OTHER SCREENS */
@media screen and (min-width: 601px) {

}

#pfp {
    width:10%;
    height:18vh;
}

#namebar {
    grid-row: 1;
    grid-column: 1;
    justify-content: left;
    align-items:self-start;
    height:20vh;
    width: 85%;
    margin-left: 15%;
}

a {
    width: 100%;
    height: 100vh;
}

h1 {
    grid-row: 1;
    font-size: 6rem;
    padding: 0%;
    margin: 0%;
}

#main {
    display: grid;
}

.btn,
.btnimg {
    grid-row: 1;
    grid-column: 1;
}

.rootfruittitle {
    color: #762c64;
}

.btn{
    width:14%;
    height:8vh;
    margin-top: 40%;
}

#btn1 {
    margin-left: 40%;
}

#btn2 {
    margin-left: 60%;
}

#btn3 {
    margin-left: 80%;
}

.btnimg{
    width:100%;
    height:8vh;
}